$bg-col: rgb(228, 201, 165);
$fg-col: #3c3425;
$accent-col: #7b6b51;

@font-face {
    font-family: 'roboto-custom';
    src: url("../fonts/roboto-custom.ttf") format('truetype');
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'roboto-custom';
}

body {
    background-image: url("/img/v2-1.png");
    //background: rgb(30, 255, 0);
    //background-repeat: no-repeat;
    //background-size: cover;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

nav button {
    text-transform: uppercase;
}

#bg {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    overflow: hidden;
    // background: blue;

    svg {
        width: 100vw;
    }
}

nav {
    button {
        display: inline;
        background: white;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        position: relative;
        z-index: 3;
        font-size: calc(10px + 3vw);

        &:hover {
            font-weight: 900;
        }

        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                top: calc(20vh + calc($i * 7vh));
            }
        }
    }
}

h2,
marquee {
    font-variation-settings: 'wdth' 200, 'wght' 200;
    top: 0;
}

header {
    position: absolute;

    h1 {
        font-size: 8vw;
        color: rgb(255, 251, 0);
        text-shadow: rgb(0, 0, 0) 3px 3px 0px;
        font-smooth: never;
        display: block;
        font-weight: bold;
    }

    h2 {
        display: inline;
        background: white;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 1.2;
    padding-top: 1em;
}

article {
    marquee {
        font-size: 2em;
        text-transform: uppercase;
        position: sticky;
        z-index: 10;

        &:hover {
            cursor: default;
            background: yellow;

        }
    }

    h2 {
        text-align: center;
        margin-top: 2em;
        font-family: "roboto-custom";
    }

    h3 {
        margin: 1em;
        text-align: center;
    }

    figure {
        &:nth-of-type(odd) {
            float: right;
        }

        &:nth-of-type(even) {
            float: left;
        }

        display: flex;
        flex-direction: column;

        img {
            width: 300px;
        }
    }

    p {
        font-size: 2em;
        max-width: 98vw;
        line-height: 1;
        font-variation-settings: 'wdth' 110;
        margin: 1em auto;
        hyphens: auto;

        span {
            margin: 0;

            &:hover {
                cursor: default;
            }
        }
    }

    #examples {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 32vw;
            height: 20vw;
            background-size: cover;
            background-position: top;
            color: white !important;
            font-size: 2em;

            p {
                margin: 0;
                font-size: 1em;
                cursor: pointer;
                line-height: 1;
                width: unset;
                max-width: unset;
                display: none;
            }

            &:hover {
                p {
                    display: unset;
                }

                background: blue !important;
            }
        }
    }

    .chart {
        img {
            width: 800px;
            max-width: 80vw;
            margin: auto;
        }

        display: flex;
        width: 100vw;
    }

    small {
        font-size: .5em;
        text-align: center !important;
        width: 65vw;
        display: block;
        margin: 1em auto;
    }
}