$bg-col: #e64444;
$fg-col: #46caff;

@keyframes blinker {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'roboto-custom';
    src: url("../fonts/roboto-custom.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    //background-image: url("/img/v2-1.png");
    //background-repeat: no-repeat;
    //background-size: cover;
    min-height: 100vh;
    font-family: "Arial Narrow", "roboto-custom";
    width: 100vw;
    overflow-x: hidden;
}

#bg {
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    overflow: hidden;

    svg {
        width: 100vw;
    }
}

header {
    h1 {
        top: 40px;
        left: 40px;
        text-transform: uppercase;
        color: #46caff;
        font-size: 13vw;
        text-transform: UNSET;
        font-family: "STRRETCH SANS";
        background: #e64444;
    }
}

article {
    marquee {
        font-size: 2em;
        text-transform: uppercase;
        background: $bg-col;
        color: $fg-col;

        &:hover {
            cursor: default;
            background: yellow;

        }
    }

    h2 {
        text-align: center;
        margin-top: 2em;
        font-family: "Druk Wide";
    }

    h3 {
        margin: 1em;
        text-align: center;
    }

    p {
        font-size: 3em;
        text-transform: uppercase;
        max-width: 98vw;
        line-height: 1;
        margin: 1em auto;
        hyphens: auto;

        span {
            margin: 0;

            &:hover {
                animation: blinker 0.1s linear infinite;
                cursor: default;
            }
        }
    }

    #examples {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 32vw;
            height: 20vw;
            background-size: cover;
            background-position: top;
            color: white !important;
            font-size: 2em;

            p {
                margin: 0;
                font-size: 1em;
                cursor: pointer;
                line-height: 1;
                width: unset;
                max-width: unset;
                display: none;
            }

            &:hover {
                p {
                    display: unset;
                }

                background: blue !important;
            }
        }
    }

    .chart {
        img {
            width: 800px;
            max-width: 80vw;
            margin: auto;
        }

        display: flex;
        width: 100vw;
    }

    small {
        font-size: .5em;
        text-align: center !important;
        width: 65vw;
        display: block;
        margin: 1em auto;
    }
}