$bg-col: #e64444;
$fg-col: #46caff;

@keyframes blinker {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'roboto-custom';
    src: url("../fonts/roboto-custom.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    //background-image: url("/img/v2-1.png");
    //background-repeat: no-repeat;
    //background-size: cover;
    min-height: 100vh;
    font-family: "Arial Narrow", "roboto-custom";
    width: 100vw;
    overflow-x: hidden;
}

#bg {
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    overflow: hidden;

    svg {
        width: 100vw;
    }
}

header {
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: "BUBL" 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 10px;

    h1 {
        @keyframes breathe {
            0% {
                font-variation-settings: 'BUBL' 100;
                font-size: 14vw;
            }

            60% {
                font-variation-settings: 'BUBL' 700;
                font-size: 16vw;
            }

            100% {
                font-variation-settings: 'BUBL' 100;
                font-size: 14vw;
            }
        }

        .char {
            --delay: calc((var(--char-index) + 1) * 300ms);
            animation: breathe 3000ms infinite both;
            animation-delay: var(--delay);
        }

        $stroke-w: 5px;
        width: 100vw;
        left: 40px;
        color: white;
        font-weight: 400;
        text-shadow: calc($stroke-w * -1) 0 black,
        0 $stroke-w black,
        $stroke-w 0 black,
        0 calc($stroke-w * -1) black;
        text-transform: UNSET;
    }

    h2 {
        $stroke-w: 2px;
        font-weight: 400;
        font-family: "Druk Wide";

        color: white;
        text-shadow: calc($stroke-w * -1) 0 black,
            0 $stroke-w black,
            $stroke-w 0 black,
            0 calc($stroke-w * -1) black;
    }

}

article {
    marquee {
        font-size: 2em;
        text-transform: uppercase;
        background: $bg-col;
        color: $fg-col;

        &:hover {
            cursor: default;
            background: yellow;

        }
    }

    h2 {
        text-align: center;
        margin-top: 2em;
        font-family: "Druk Wide";
    }

    h3 {
        margin: 1em;
        text-align: center;
    }

    p {
        font-size: 3em;
        text-transform: uppercase;
        max-width: 98vw;
        line-height: 1;
        margin: 1em auto;
        hyphens: auto;

        span {
            margin: 0;

            &:hover {
                animation: blinker 0.1s linear infinite;
                cursor: default;
            }
        }
    }

    #examples {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 32vw;
            height: 20vw;
            background-size: cover;
            background-position: top;
            color: white !important;
            font-size: 2em;

            p {
                margin: 0;
                font-size: 1em;
                cursor: pointer;
                line-height: 1;
                width: unset;
                max-width: unset;
                display: none;
            }

            &:hover {
                p {
                    display: unset;
                }

                background: blue !important;
            }
        }
    }

    .chart {
        img {
            width: 800px;
            max-width: 80vw;
            margin: auto;
        }

        display: flex;
        width: 100vw;
    }

    small {
        font-size: .5em;
        text-align: center !important;
        width: 65vw;
        display: block;
        margin: 1em auto;
    }
}